 .nav_header_info_content{
    flex: 0 1 33%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

 .nav_header_info{
    gap: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
} 

 .nav_header_info_letter{
    letter-spacing: 0.50px;
}

.nav_header_info_letter a{
    text-decoration: none;
    line-height: 1.4;
    color: black;
    transition: 300ms;
    opacity: 1;
}

.nav_header_info_letter a:hover{
    opacity: 0.55;
} 
