/* Login.module.css */

.container {
  max-width: 400px;
  margin: auto;
  padding: 1rem;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  box-sizing: border-box;
}

.button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.paragraph {
  margin-top: 1rem;
  text-align: center;
}

.link {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
