
.nav_header_content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    width: 100%;
    /* position: sticky;
    top: 0; */
} 

.nav_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
} 

/*---------------Title---------------*/
.nav_header_title_content{
    flex: 0 1 33%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav_header_title_content a{
    color: black;
    text-decoration: none;
}

/*---------------Info----------------*/
 .nav_header_info_content{
    flex: 0 1 33%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

 .nav_header_info{
    gap: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
} 

 .nav_header_info_letter{
    letter-spacing: 0.50px;
}

.nav_header_info_letter a{
    text-decoration: none;
    line-height: 1.4;
    color: black;
    transition: 300ms;
    opacity: 1;
}

.nav_header_info_letter a:hover{
    opacity: 0.55;
} 

/*---------------Feacture------------*/
.nav_header_feacture_content{
    flex: 0 1 33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav_header_feacture{
    gap: 15px;
    display: flex;
}
