
.nav_header_content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    width: 100%;
    /* position: sticky;
    top: 0; */
} 

.nav_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
} 

/*---------------Title---------------*/
.nav_header_title_content{
    flex: 0 1 33%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav_header_title_content a{
    color: black;
    text-decoration: none;
}
