.search_content {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

.icon_search {
  margin-right: 8px;
  font-size: 1.2rem;
  color: #555;
}

.bar_search {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
}
